/* line 17, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p551/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Colors for circle */
/* line 3, ../sass/base/_global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/base/_global.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 11, ../sass/base/_global.scss */
body {
  background: white;
  color: #4e4e4e;
  font: 300 14px/22px 'Source Sans Pro', sans-serif;
}

/* line 22, ../sass/base/_global.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

/* line 26, ../sass/base/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* Links */
/* line 33, ../sass/base/_global.scss */
a {
  color: #fff;
  text-decoration: none;
}
/* line 36, ../sass/base/_global.scss */
a:hover {
  text-decoration: underline;
}

/* line 3, ../sass/base/_layout.scss */
.top-block,
.center-wrap-block,
.three-col {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

/* line 11, ../sass/base/_layout.scss */
.two-col .left-block,
.two-col .right-block {
  float: left;
  width: 50%;
}

/* line 1, ../sass/pages/_front.scss */
.section {
  clear: both;
}
/* line 4, ../sass/pages/_front.scss */
.section.top {
  background: #ff9f06;
  padding: 20px 0;
}
/* line 9, ../sass/pages/_front.scss */
.section .form-title {
  color: #ff800c;
  font-size: 44px;
}
/* line 14, ../sass/pages/_front.scss */
.section .title {
  font-size: 31px;
}
/* line 22, ../sass/pages/_front.scss */
.section .three-column-text {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  -ms-column-gap: 20px;
  -o-column-gap: 20px;
  column-gap: 20px;
}
/* line 27, ../sass/pages/_front.scss */
.section .top-block {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
/* line 36, ../sass/pages/_front.scss */
.section .slider-wrapper,
.section .form-wrapper {
  float: left;
  width: 50%;
}
/* line 41, ../sass/pages/_front.scss */
.section .slider-wrapper {
  border-right: 1px solid gainsboro;
}

/* line 3, ../sass/partials/_header.scss */
.header {
  padding: 16px 0 8px;
}
/* line 6, ../sass/partials/_header.scss */
.header .logo {
  text-align: center;
}

/* line 3, ../sass/partials/_sliders.scss */
.slider-wrapper {
  position: relative;
}
/* line 6, ../sass/partials/_sliders.scss */
.slider-wrapper li {
  line-height: 0;
}
/* line 10, ../sass/partials/_sliders.scss */
.slider-wrapper .bx-controls {
  bottom: 10px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 18, ../sass/partials/_sliders.scss */
.slider-wrapper .bx-pager-item {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: rgba(0, 0, 0, 0.5);
  height: 12px;
  margin: 0 4px;
  width: 12px;
}
/* line 27, ../sass/partials/_sliders.scss */
.slider-wrapper .bx-pager-item a {
  display: block;
  height: 8px;
  margin: 2px auto 0;
  text-indent: -9999px;
  width: 8px;
}
/* line 34, ../sass/partials/_sliders.scss */
.slider-wrapper .bx-pager-item a.active {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #ff9f06;
}

/* line 1, ../sass/partials/_footer.scss */
.footer {
  height: 300px;
}
