//-----------------------------------------------------------------------------
// Images
$sprite: "../images/sprite.png";

//-----------------------------------------------------------------------------
// Fonts
$fontLight: 'LinotypeLight', Arial, Helvetica, sans-serif;
$fontBold: 'LinotypeBold', Arial, Helvetica, sans-serif;
$fontSerif: 'RotisSerif', Georgia, serif;

$baseline: 1.2;

/* Colors for circle */

//-----------------------------------------------------------------------------
// Colores

$white: #fff;
$black: #000;
$orange-text: #ff800c;
$orange-bg: #ff9f06;
$form-bg: #f8f8f8;

//Responsive width
$width-980: 980px;
$width-900: 900px;
$width-768: 767px;
$width-480: 480px;
$width-420: 420px;
$width-380: 380px;
$width-320: 320px;
